body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: #fff;
    font-size: 16px;
    line-height: 24px;
}
:root {
    --s-logotype: #4d5ae5;
}
:studio {
    --s-studio: #2e2f42;
}
.site-logotype {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--s-logotype);
}
.address-menu {
    font-style: normal;
}
.address-link {
    letter-spacing: 0.02em;
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.menu-link:hover,  
.menu-link:focus,
.link:hover,
.link:focus {
    color: #404bbf;
}
.link {
    text-decoration: none;
    color: var(--s-studio);
}
.list {
    list-style: none;
}
header {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #E7E9FC;
}
button {
    cursor: pointer;
    border: none;
    line-height: 24px;
    font-size: 16px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.button-filter-list {
    margin: 96px 0 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button-filter-list > li > .btn-filter {
    color: #4D5AE5;
    background: #F4F4FD;
    padding: 12px 24px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    margin-right: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button-filter > li > .btn-filter:hover,
.button-filter> li > .btn-filter:focus {
    background: #404BBF;
    color: #fff;
}
p {
    color: #434455;
}
h3 {
    font-size: 20px;
    font-weight: 500;
}
.work-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.work-list > li {
    border: 1px solid #E7E9FC;
    margin-right: 24px;
    margin-bottom: 48px;
    padding-bottom: 32px;
}
.work-list > li > img {
    margin-bottom: 32px;
}
.work-list > li > p {
    margin: 0;
    padding-left: 16px;
}
.work-list > li h3 {
    margin: 0 0 8px 0;
    padding-left: 16px;
}